# CST816S Hynitron touchscreen
# SPDX-License-Identifier: Apache-2.0
#
#menuconfig CST816S
#	bool "hynitron cst816 touchscreen "
#	depends on I2C
#	help
#	 Enable driver for hynitron touchscreen. 
menuconfig CST816S
        bool "CST816S Touchscreen"
        depends on I2C
        help
          Enable driver for hynitron touchscreen. 

if CST816S

choice
	prompt "Trigger mode"
	default CST816S_TRIGGER_NONE
	help
	  Specify the type of triggering used by the driver.

config CST816S_TRIGGER_NONE
	bool "No trigger"

config CST816S_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select CST816S_TRIGGER

config CST816S_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select CST816S_TRIGGER

endchoice

config CST816S_TRIGGER
	bool

config CST816S_THREAD_PRIORITY
	int "Thread priority"
	depends on CST816S_TRIGGER_OWN_THREAD && CST816S_TRIGGER
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config CST816S_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on CST816S_TRIGGER_OWN_THREAD && CST816S_TRIGGER
	default 512
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # CST816S
